<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{site.title}} {{actor.name}} is.</title>
  <meta property="og:title" content="{{site.title}} {{actor.name}} is." />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://{{ site.root }}/actor/{{#slugify}}{{actor.name}}{{/slugify}}.html" />
  <meta property="og:description" content="{{ actor.name }} is the Fuck Man in: " />
  <meta property="og:locale" content="en_CA" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="{{ site.twitter }}" />
  <meta name="twitter:title" content="{{site.title}} {{actor.name}} is." />
  <meta name="twitter:description" content="{{ actor.name }} is the Fuck Man in: {% for movie in actor.movies %}{{ movie.title }}{% if movie.year %} ({{ movie.year }}){% endif %}{% if not loop.last %}, {% endif %}{% endfor %}" />
  <style>{{>style}}</style>
</head>
<body>
  {{>header}}
  <table>
    {{#movies}}
    <tr>
      <td>{{title}}{{#year}} ({{year}}){{/year}}</td>
      <td><ul>{{#actors}}<li><a href="/actor/{{#slugify}}{{name}}{{/slugify}}.html">{{name}}</a></li>{{/actors}}</ul></td>
    </tr>
    {{/movies}}
  </table>
  {{>footer}}
</body>
</html>
