/* take care of text sizing: http://type-scale.com/?size=16&scale=1.200&text=A%20Visual%20Type%20Scale&webfont=&font-family=sans-serif&font-weight=400&font-family-headers=&font-weight-headers=inherit&background-color=white&font-color=#333 */
html {font-size: 1em;}

body {
  background-color: white;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

/*p {margin-bottom: 1.3em;}*/

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small {font-size: 0.833em;}

/* center and size the body */
body {
  margin: 1em auto;
  max-width: 40em;
  padding: 0 1em;
}

/* page header and nav */
body > div > header {
  overflow: auto;
}

body > div > header h1 {
  float: left;
  margin: 0;
}

body > div > header p {
  float: right;
  margin: 0;
}

/* page footer */
body > div > footer {
  text-align: center;
}

body > div > footer img {
  height: 0.75em;
}

/* bold headers */
h1 { font-weight: 800; }
h2 { font-weight: 700; }
h3 { font-weight: 600; }
h4 { font-weight: 500; }

body > div > p {
  margin: 0;
}

.regen {
  text-align: center;
}

.regen p {
  font-size: 0.833rem;
}

/* layout and group the posts on the home page */
article {
  margin: 0.75em 0;
  border-top: thin solid #f3f3f3;
  border-bottom: thin solid #f3f3f3;
}

article > dl > dt {
  float: left;
  clear: left;
  margin-right: 0.5em;
}

article > dl > dt:after {
  content: ":";
}

article > dl > dd {
  margin-bottom: 0.25em;
}

article > div > ul {
  list-style: none;
  padding: 0;
}

article > div > ul > li {
  padding-left: 1.3em;
}

article > div > ul > li:before {
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

article > div > ul > li.unexpanded:before {
  content: "\f152"; /* FontAwesome Unicode */
}

article > div > ul > li.expanded:before {
  content: "\f150"; /* FontAwesome Unicode */
}

li ul {
  list-style-type: disc;
  padding-left: 1em;
}

.fa-trash {
  margin-left: 0.5em;
}

.fa-plus-circle {
  margin-right: 0.5em;
}

.search {
  position: relative;
}

.search a {
  position: absolute;
  top: -0.1em;
  right: 0.1em;
}

.search input {
  padding-right: 1.5em;
}

/* link colours! */
a {
  color: #333;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #bf0a30;
  text-decoration: none;
}

.error {
  color: #bf0a30;
}

/* loader! */
.loader {
  border: 0.25em solid #f3f3f3;
  border-top: 0.25em solid #bf0a30;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  animation: spin 0.5s linear infinite;
  margin: 0.5em auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* let print do its own thing */
@media print{
  body {
    max-width: none;
    color: #000;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: underline;
  }
}